@import "@fontsource/cinzel";
@import "@fontsource/urbanist";

:root {
  --color-bg-dark-1: #0F3949;
  --color-bg-dark-2: #1F2121;
  --color-black: #000000;
  --color-light-1: #DFF3EF;
  --color-teal-1: #2E5960;
  --color-teal-2: #58797B;
  --color-teal-3: #60BFBA;
  --color-teal-4: #80CCC5;
  --color-teal-5: #889F9E;
  --color-teal-6: #9FD9D2;
  --color-teal-7: #BFE6E0;
  --color-orange: #F37916;

  font-family: 'Urbanist', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--color-bg-dark-1);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  place-items: center;
  justify-content: center;
}

html {
  overflow-x: hidden;
  max-width: 100vw;
}

#root {
  width: 100%;
  height: 100vh;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Cinzel', serif;
}

/* Utilities */
.text-white {
  color: #fff !important;
}

.flex-1 {
  flex: 1;
}

.capital {
  font-weight: 700;
}